// Navigation Styles here
.navigation-div {
    border-bottom: 2px dashed #C0C0C0;

    .navigation-content {
        margin: 0 auto;
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        nav {
            flex-grow: 3;
            display: flex;
            justify-content: space-evenly;
        }

        div {
            width: 45%;
        }
    }
}